/*Añadimos nuestra fuente de goglee fonts :3 */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&family=Space+Grotesk:wght@500;700&family=Inter:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script:wght@418&family=Fira+Code&family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');


/*Primero Vamos a resetear losa estilos bases que nos proporciona el navegador*/

:root {
    /* Variables "Fonts-families" */
    --font-heading: "Syne", sans-serif;
    --font-code: "Fira Code", sans-serif;
    --font-body: "Inter", sans-serif;
    --media-queries-laptops-table: 850px;

    /*Colores de Fondo*/
    --bg-body: #0d0f14;
    --bg-card: rgba(22, 26, 36, 0.75);
    --bg-card-hover: rgba(30, 35, 48, 0.85);

    /*Gradiente principal Gamer "rojo / Carmesí / dark "*/
    --gamer-gradient: linear-gradient(292deg, rgba(219, 25, 25, 1) 0%, rgba(13, 2, 2, 1) 100%);
    --gamer-gradient-accent: linear-gradient(135deg, #ff2a2a, 0%, #8b0000 100%);
    --red-neon: #ff2e4d;
    --red-glow: rgba(255, 46, 77, 0.4);

    /*Colores acento*/
    --text-primary: #f0f3f8;
    --text-secondary: #a0a8c0;
    --border-color: rgba(255, 255, 255, 0.08);

    /*Colores pare tecnologias  & acentos */
    --color-html: #e34f26;
    --color-css: #1572b6;
    --color-js: #f7df1e;
    --color-github: #a0a8c0;
    --color-email: #ff4b4b;
    --color-platzi: #a2c037;
}


/*Animaciones para el querido portafolio */




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-body);
    background-image: radial-gradient(circle at 50% 0%, rgba(219, 25, 25, 0.15), transparent 50%);
    /*Coloca una imagen detras de cada elemento de html*/
    color: var(--text-primary);
    font-family: var(--font-body);
    line-height: 1.6;
    overflow-x: hidden;
    /**/
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-heading);
    color: #FFFFFF;
    letter-spacing: -0.5px;
    line-height: 1.2;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

p,
span,
a,
li {
    font-family: var(--font-body);
}

p {
    color: var(--text-secondary);
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

strong {
    color: var(--red-neon);
    font-weight: 600;
}

/*Enlaces*/

a {
    color: var(--text-primary);
    text-decoration: none;
}

/*Listas*/

ul {
    list-style: none;
}


/*Componentes reutilizables */

.button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    font-family: var(--font-code);
    font-size: 0.9rem;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s ease;
}


/*Tarjetas con efecto "Glassmorphism" */

.project,
.values__item,
.quote {
    background: var(--bg-card);
    backdrop-filter: blur(0.625rem);
    /*Aplica un efecto de desenfoque al fondo que se encuentra directamente atras de un elemento*/
    /*Blur: Vuelve borroso todo lo que esta por debajo del elemento, creando un estilo visual moderno llamado "vidrio esmerilado" (glassmorphism).*/
    border: 1px solid var(--border-color);
    border-radius: 0.75rem;
    padding: 1.75rem;
    transition: all 0.3s ease;
}


.header {
    background: rgba(13, 15, 20, 0.85);
    backdrop-filter: blur(0.625rem);
    border-bottom: 1px solid var(--border-color);
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

}

.header__container {
    padding: 0.8rem 1rem;
    display: grid;
    grid-template-areas:
        "brand"
        "nav";
    justify-content: center;
    align-items: center;
}

.header__brand {
    grid-area: brand;
    text-align: center;
}

.header__name {
    font-size: 1.8rem;
    color: var(--red-neon);
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

.header__tagline {
    font-size: 0.8rem;
    color: var(--text-secondary);
}

.nav {
    grid-area: nav;
    text-align: center;
}

.nav__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}


.nav__item {
    display: inline-block;
    margin: 0;
}

.nav__link {
    font-size: 0.85rem;
    padding: 0.4rem 0.6rem;
    border-radius: 0.4rem;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid var(--border-color);
    display: flex;
    transition: all 0.2s ease;
}


/* !--- HOVER ! DE  NAV--- */

.nav__link:hover {
    border-color: var(--red-neon);
    color: var(--red-neon);
}

/* ----! Contenido PRINCIPAL !---- */

.main {
    padding: 1rem;
}

/* Nuestra sección Hero ¡Vamos a estilizarla! */

.hero {
    background: var(--bg-card);
    backdrop-filter: blur(0.625rem);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    max-width: 800px;
}

.hero__title {
    font-size: 2rem;
    grid-area: hero--title;
    margin-bottom: 0.5rem;
}

.hero__subtitle {
    color: var(--red-neon);
    font-family: var(--font-code);
    font-size: 0.95rem;
    margin-bottom: 1rem;
    grid-area: hero--subtitle;
}

.hero__description {
    grid-area: hero--description;
}

.hero__actions {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin: 1.1rem 0;
    grid-area: hero--actions;
}

.button--primary {
    background: var(--gamer-gradient);
    color: #fff;
    border: 1px solid var(--red-neon);
    box-shadow: 0 0 25px rgba(255, 46, 77, 0.7);
    transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
}

.button--primary:hover {
    background-color: transparent;
    border: 1px solid var(--text-secondary);
    color: var(--text-primary);
}

.button--secondary {
    background: transparent;
    border: 1px solid var(--text-secondary);
    color: var(--text-primary);

}

.button--secondary:hover {
    border-color: var(--red-neon);
    color: var(--red-neon);
}

.hero__stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--border-color);
    padding-top: 1rem;
    margin-top: 1rem;
    grid-area: hero--stats;
}

.stat__number {
    display: block;
    font-family: var(--font-heading);
    font-size: 1.8rem;
    color: var(--red-neon);
}

.stat__label {
    font-size: 0.75rem;
    color: var(--text-secondary);
}

/*!--- Sobre mí "Mis valores como persona ---!"*/

.about {
    margin-bottom: 2rem;
}

.about__container {
    margin: 0 auto;
}

.about__title {
    text-align: center;
    margin: 1rem;

}

.about__intro {
    text-align: center;
    margin-bottom: 2rem;
}

.about__text {
    text-align: center;
    margin-bottom: 1rem;

}

.quote {
    background: var(--bg-card);
    border: 1px solid var(--border-color);
    border-left: 0.2rem solid var(--red-neon);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1.5rem 0;
}



.quote:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 16px var(--red-neon)
}


.quote__text {
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}


.quote__author {
    display: flex;
    text-align: end;
    font-size: 0.8rem;
    color: var(--red-neon);
}


.values {
    margin: 1rem;
}

.values__title {
    text-align: center;
    margin: 2rem;
}

.values__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.values__item {
    background: var(--bg-card);
    border: 1px solid var(--border-color);
    border-radius: 0.75rem;
    padding: 1rem;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.values__item__title {
    font-size: 1.2rem;
    text-align: center;
}

.values__item__description {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.values__item:hover {
    box-shadow: 0 0 15px var(--red-neon);
    border-color: var(--red-neon);
}

/*Sección de proyectos*/

.projects {
    margin-bottom: 2rem;
}

.projects__title {
    margin-bottom: 0.5rem;
}

.projects__grid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.project {
    background: var(--bg-card);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    transition: all 0.3s ease;
}

.project:hover {
    border-color: var(--red-neon);
    box-shadow: 0 0 15px var(--red-glow);
}


.project__badge {
    align-self: flex-start;
    background: var(--red-neon);
    color: #fff;
    font-family: var(--font-code);
    font-size: 0.7rem;
    padding: 0.2rem 0.6rem;
    border-radius: 0.3rem;
    text-transform: uppercase;
}

.project__learnings {
    list-style: disc;
    padding-left: 1.2rem;
}

.project__learnings li {
    font-size: 0.85rem;
    color: var(--text-secondary);
    margin-bottom: 0.3rem;
}


.project__technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}


.tag {
    background: rgba(219, 25, 25, 0.2);
    border: 1px solid rgba(219, 25, 25, 0.5);
    color: var(--text-primary);
    font-family: var(--font-code);
    padding: 0.3rem 0.6rem;
    font-size: 0.75rem;
    border-radius: 0.4rem;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}


.first__project {
    grid-area: first-project;
}

.second__project {
    grid-area: second-project;
}


.project__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.project__link {
    font-size: 0.90rem;
    color: var(--red-neon);
}


/*Seguimos con la sección de mis habilidades :3 */

.skills {
    background: var(--bg-card);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1.2rem;
    margin-bottom: 2rem;
}

.skills__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}


.skill__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}


.skill__name {
    font-size: 0.95rem;
    color: var(--text-primary);

}

.skill__percentage {
    font-family: var(--font-code);
    color: var(--red-neon);
    font-size: 0.85rem;
}

.skill__bar {
    background: rgba(255, 255, 255, 0.08);
    height: 1.1rem;
    border-radius: 5px;
    overflow: hidden;
}


/*Barras de progreso animadas */

@keyframes fillProgress {
    from {
        width: 0;
    }
}


.skill__progress {
    height: 100%;
    border-radius: 1rem;
    animation: fillProgress 1.5s ease-in-out forwards;
    animation-delay: calc(var(--index, 0) * 0.2s);
    position: relative;
    overflow: hidden;
}

.skill__progress--html {background-color: var(--color-html); --index: 0; animation-duration: 1.5s;} 
.skill__progress--css {background-color: var(--color-css); --index: 0; animation-duration: 1.5s;}
.skill__progress--js {background-color: var(--color-js); --index: 0; animation-duration: 1.5s;}

.skill__progress--html {
    width: 35%;
}

.skill__progress--css {
    width: 50%;
}

.skill__progress--js {
    width: 40%;
}


/*  !---  Ahora sigue la sección de "learning" !----*/

.learning__container {
    background-color: var(--bg-card);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1.2rem;
    margin-bottom: 2rem;
}



.learning__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.learning__item {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid var(--border-color);
    display: flex;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    font-size: 0.85rem;
}

/* Seguimos con la sección de contacto */

.contact {
    display: flex;
    justify-content: center;
    background: var(--bg-card);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 1.2rem;
}

.contact__methods {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1rem;
}

.contact__link {
    display: flex;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid var(--border-color);
    padding: 0.8rem;
    border-radius: 0.5rem;
    text-align: center;
    font-family: var(--font-code);
    font-size: 0.85rem;
    transition: all 0.3s ease;
}

.contact__link--account:hover {border-color: var(--color-email); box-shadow: 0px 0px 0.4rem var(--color-email); color: var(--color-email);}  
.contact__link--github:hover {border-color: var(--color-github); box-shadow: 0px 0px 0.4rem var(--color-github); color: var(--color-github);}
.contact__link--platzi:hover {border-color: var(--color-platzi); box-shadow: 0px 0px 0.4rem var(--color-platzi); color: var(--color-platzi);}


.contact__method-title {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 0.8rem;
}

.footer {
    border-top: 1px solid var(--border-color);
    padding: 1.5rem 1rem;
    text-align: center;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
    margin-bottom: 1rem;
}


.footer__link {
    font-size: 0.85rem;
    color: var(--text-secondary);
    display: flex;
    transition: color 0.3s ease;
}

.footer__link:hover {
    color: var(--red-neon);
}

.footer__copyright,
.footer__credits {
    font-size: 0.75rem;
    color: var(--text-secondary);
}


/*!---- Sección de media-queries !---- */

@media (min-width: 768px) {

    /*!--- Header ---!*/

    .header__container {
        grid-template-areas: "brand nav";
        grid-template-columns: auto;
        justify-content: space-between;
        padding: 1.2rem 1rem;
        gap: 1rem;
    }


    .header__brand {
        text-align: left;
    }

    .header__name {
        font-size: 1.3rem;
    }

    .header__tagline {
        font-size: 0.8rem;
    }

    .nav {
        justify-self: end;
    }

    .nav__list {
        flex-wrap: nowrap;
        gap: 0.8rem;
    }

    /*!--- Hero ---!*/

    .hero__container {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        grid-template-areas:
            "hero--title  hero--stats"
            "hero--subtitle hero--stats"
            "hero--description hero--stats"
            "hero--actions hero--stats";
        text-align: left;
        align-items: center;
        max-width: 1000px;
        gap: 2rem;
        padding: 0.5rem;
    }

    .hero__actions {
        flex-direction: row;
        justify-content: flex-start;
    }


    .hero__stats {
        border-top: none;
        flex-direction: column;
        align-items: flex-start;
        border-left: 2px solid var(--red-neon);
        padding-top: 0;
        margin-top: 0;
        padding-left: 1.8rem;
        gap: 1.2rem;
    }

    /*!--- Quote ---! */

    .quote {
        padding: 2rem;
        margin: 2.5rem 0;
    }


    /*!--- Values ---! Cuadricula 2x2 */

    .values__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
    }


    /*!--- PROJECTS ---!*/


    /*!--- SKILL ---! */

    .skills__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }




    /*!--- LEARNING ---!*/

    .learning__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /*Distribuye todo el espacio sobrante de forma "equitativa" entre todos los elementos */
        align-items: center;
        gap: 1rem;
    }

    .learning__item {
        flex: 0 1 auto;
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    /* !---Contact ---! */

    .contact__methods {
        grid-template-areas: "email github platzi";
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
    }

    /* !--- FOOTER ---! */
    .footer__container {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: "footer-nav footer--copyright footer--credits";
        justify-items: stretch;
        align-items: center;
    }

}

@media (min-width: 1024px) {

    .main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 1rem;
    }

    /*Tipografia optimizada para lectura dentro de una "desktop"*/

    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.6rem;
    }


    .projects__grid {
        display: grid;
        grid-template-areas: 
        ""
        ""
        "";
    }

    .about__container {
        max-width: 1200px;
    }

    .skill--html {grid-area: skill--html;} .skill--css { grid-area: skill--css; } .skill--js { grid-area: skill--js; }

    .skills__list {
        grid-template-columns: none;
        grid-template-areas:
            "skill--html"
            "skill--css"
            "skill--js";
    }


    .contact__link {
        justify-content: center;
        align-items: center;
    }

}